html
  head
    title Login
    script
      include ../dist/signup.js
  body
    label(for='username') Username
    input#username
    label(for='password') Password
    input#password(type='password', name='password')
    button#login(type='submit') Login
